
main{
  margin: auto; 
  width: 480px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;

}
div{
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

#a {
  width: 960px;
  height: 100px;
  border: 1px black;
  color: white;
  line-height:100px ;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: red;
}


#b {  
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;
  line-height: 600px;
  width: 200px;
  height: 600px;
  border: 1px black;
  background-color: orange;
}

#c {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end:  3;
  width: 380px;
  height: 200px;
  line-height: 200px;
  background-color: yellow;
}

#d {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 380px;
  height: 200px;
  border: 1px black;
  line-height: 200px;
  background-color: green;
}

#e {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 190px;
  height: 250px;
  border: 1px black;
  line-height: 250px ;
  background-color: blue;
}


#f{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 190px;
  height: 250px;
  border: 1px black;
  line-height: 250px ;
  background-color: purple;
}

#g {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 190px;
  height: 250px;
  color: white;
  line-height: 250px ;
  border: 1px black;
  background-color: black;

}
#h {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 190px;
  height: 250px;
  border: 1px black;
  line-height: 250px ;
  background-color: lightpink;
  color: black;

}
#i {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  line-height: 150px;
  width: 760px;
  height: 150px;
  border: 1px black;
  background-color: tan;
}


@media (min-width:768px){
  main{
    width: 960px;
    margin: auto;
    display: grid;
    grid-template-columns: 20fr 19fr 19fr 19fr 19fr;
    grid-template-rows: 100px 200px 250px 150px;
  }
  
  div{
    justify-content: center;
    align-items: center;
  }

  #a {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 960px;
    height: 100px;
    line-height: 100px;
    background-color: lightpink;
  }

  #b {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    width: 200px;
    height: 600px;
    border: 1px black;
    line-height: 600px ;
    background-color: lightcoral;
  }

  #c {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 380px;
    height: 200px;
    line-height: 200px;
    background-color: lightseagreen;
  }

  #d {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 380px;
    height: 200px;
    border: 1px black;
    line-height: 200px;
    background-color: orchid
  }

  #e {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      width: 190px;
      height: 250px;
      border: 1px black;
      line-height: 250px ;
      background-color: darkgray;
      color: black
  }

  #f {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      width: 190px;
      height: 250px;
      line-height: 250px;
      border: 1px black;
      background-color: lightslategray
  }

  #g {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 4;
      width: 190px;
      height: 250px;
      border: 1px black;
      background-color: lightcyan;
      color: black;
  }

  #h {
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 4;
      width: 190px;
      height: 250px;
      border: 1px black;
      line-height: 250px ;
      background-color: darkgoldenrod
  }

  #i {
      grid-column-start: 2;
      grid-column-end: 6;
      grid-row-start: 4;
      grid-row-end: 5;
      width: 760px;
      height: 150px;
      border: 1px black;
      line-height: 150px;
      background-color: darkgreen
    
  }

